<section class="wishlist">
    <div class="container">
     <div class="row">
  <div class="col-md-8">
      <h3 class="sub-heading-h3">Gift Cart <small>(03)</small> <mat-checkbox class="example-margin mat-check">Select All</mat-checkbox></h3>
      

  <div class="wishlist-box">
    <mat-checkbox class="example-margin mat-check-cart"></mat-checkbox>
  <ul>
   <li class="wish-box-1"><img  src="assets/images/p.svg" class="img-fluid" /></li> 
   <li class="wish-box-2">
   <h3>Mr & Mrs Gold Couple Diamond Band</h3>
   <span class="stock">In Stock</span> 
   <div class="ratting-count ">
      <i class="las la-star"></i> <i class="las la-star"></i> <i class="las la-star"></i><i class="las la-star"></i>
      <i class="las la-star-half"></i> <span>2,567</span>   
      <div class="inctaxes">Qty : <span class="qty-count">1</span></div>
   </div> 
  
   <p>Added : <span>15th Sep, 2021</span></p>
   <p>Store Address: : <span>Phase2, Kukatpalli, Kphb</span></p>  
  <a class="delete-wish"><img  src="assets/images/del-new.svg" class="img-fluid" /> Delete</a>
   </li> 
   <li class="wish-box-3">        <h5 class="price-h"> &#8377;29,216</h5>  
      <span class="inctaxes">(Inc all taxes)</span> 
  
  </li> 
  </ul>
  </div>
  <div class="wishlist-box">
    <mat-checkbox class="example-margin mat-check-cart"></mat-checkbox>
      <ul>
       <li class="wish-box-1"><img  src="assets/images/p.svg" class="img-fluid" /></li> 
       <li class="wish-box-2">
       <h3>Mr & Mrs Gold Couple Diamond Band</h3>
       <span class="stock">In Stock</span> 
       <div class="ratting-count ">
          <i class="las la-star"></i> <i class="las la-star"></i> <i class="las la-star"></i><i class="las la-star"></i>
          <i class="las la-star-half"></i> <span>2,567</span>   
          <div class="inctaxes">Qty : <span class="qty-count">1</span></div>
       </div> 
      
       <p>Added : <span>15th Sep, 2021</span></p>
       <p>Store Address: : <span>Phase2, Kukatpalli, Kphb</span></p>  
      <a class="delete-wish"><img  src="assets/images/del-new.svg" class="img-fluid" /> Delete</a>
       </li> 
       <li class="wish-box-3">        <h5 class="price-h"> &#8377;29,216</h5>  
          <span class="inctaxes">(Inc all taxes)</span> 
      
      </li> 
      </ul>
      </div>
      <div class="wishlist-box">
        <mat-checkbox class="example-margin mat-check-cart"></mat-checkbox>
          <ul>
           <li class="wish-box-1"><img  src="assets/images/p.svg" class="img-fluid" /></li> 
           <li class="wish-box-2">
           <h3>Mr & Mrs Gold Couple Diamond Band</h3>
           <span class="stock">In Stock</span> 
           <div class="ratting-count ">
              <i class="las la-star"></i> <i class="las la-star"></i> <i class="las la-star"></i><i class="las la-star"></i>
              <i class="las la-star-half"></i> <span>2,567</span>   
              <div class="inctaxes">Qty : <span class="qty-count">1</span></div>
           </div> 
          
           <p>Added : <span>15th Sep, 2021</span></p>
           <p>Store Address: : <span>Phase2, Kukatpalli, Kphb</span></p>  
          <a class="delete-wish"><img  src="assets/images/del-new.svg" class="img-fluid" /> Delete</a>
           </li> 
           <li class="wish-box-3">        <h5 class="price-h"> &#8377;29,216</h5>  
              <span class="inctaxes">(Inc all taxes)</span> 
          
          </li> 
          </ul>
          </div>
          <h3 class="sub-heading-h3">Recomended Products <a class="view-all float-end">View All <i class="las la-long-arrow-alt-right"></i></a></h3>
           
            <div class="row m-0" >
                <div  class="col-md-4 col-6 col-sm-6"  *ngFor="let slide of Products">
              
                  <div class="product-box">
                    <div class="product-box-image">
                      <img src="{{slide.img}}" class="img-fluid product-image" alt="product-image" />
                    </div>
                      <h4>{{slide.name}}</h4>
                      <div class="product-details"><img src="assets/images/rupee.svg" /><span class="ps-2">{{slide.price}}</span></div>
                      <div class="product-details"><img src="assets/images/userproduct.svg" /><span class="ps-2">{{slide.cust}}</span></div>
                    <p class="gift-now">Gift Now <i class="las la-long-arrow-alt-right"></i> <img src="assets/images/giftheader.svg"></p>
                  </div>
              </div>
          </div>   
  </div>
  <div class="col-md-4">
    <div class="side-box-cart">
        <h3 class="side-heading mt-2 mb-4">   Order Summary</h3>
        <p>Sub total <span> &#8377; 29,198</span></p>
        <p>Gift packing
            <span> Free</span></p>
        <p>Offer Discount <span> &#8377; 569</span></p>
        <p class="pay">Payable Amount <span > &#8377; 29,198</span></p>
        <ul class="list-inline d-flex">
            <li><img src="assets/images/mark-cart.svg" /></li>
<li class="ms-2"><small class="cart-small">Lorem ipsum, or lipsum as it is sometimes
    known print.</small></li>
        </ul>
        <div class="mt-3 text-center">
        <button class="btn button w-75 btn-wish ms-auto me-auto" routerLink="/checkout">Checkout</button>
    </div>
        </div>
  <div class="side-box">
      <h3 class="side-heading">Products related to items in
          your wish list</h3>
  <ul class="side-list-product list-inline d-flex">
      <li class="side-first"><img src="assets/images/image27.svg" class="img-fluid w-100" /></li>
      <li class="side-second"><h3>Soft Teddy Bear</h3>
          <span class="start">&#8377; Start from 499</span>
          <p class="gift-now">Gift Now <i class="las la-long-arrow-alt-right"></i></p>
      </li>
      <li class="side-third"><img src="assets/images/giftheader.svg"></li>
    </ul> 
    <ul class="side-list-product list-inline d-flex">
      <li class="side-first"><img src="assets/images/image27.svg" class="img-fluid w-100" /></li>
      <li class="side-second"><h3>Soft Teddy Bear</h3>
          <span class="start">&#8377; Start from 499</span>
          <p class="gift-now">Gift Now <i class="las la-long-arrow-alt-right"></i></p>
      </li>
      <li class="side-third"><img src="assets/images/giftheader.svg"></li>
    </ul> 
    <ul class="side-list-product list-inline d-flex">
      <li class="side-first"><img src="assets/images/image27.svg" class="img-fluid w-100" /></li>
      <li class="side-second"><h3>Soft Teddy Bear</h3>
          <span class="start">&#8377; Start from 499</span>
          <p class="gift-now">Gift Now <i class="las la-long-arrow-alt-right"></i></p>
      </li>
      <li class="side-third"><img src="assets/images/giftheader.svg"></li>
    </ul> 
    <ul class="side-list-product list-inline d-flex">
      <li class="side-first"><img src="assets/images/image27.svg" class="img-fluid w-100" /></li>
      <li class="side-second"><h3>Soft Teddy Bear</h3>
          <span class="start">&#8377; Start from 499</span>
          <p class="gift-now">Gift Now <i class="las la-long-arrow-alt-right"></i></p>
      </li>
      <li class="side-third"><img src="assets/images/giftheader.svg"></li>
    </ul> 
    <ul class="side-list-product list-inline d-flex">
      <li class="side-first"><img src="assets/images/image27.svg" class="img-fluid w-100" /></li>
      <li class="side-second"><h3>Soft Teddy Bear</h3>
          <span class="start">&#8377; Start from 499</span>
          <p class="gift-now">Gift Now <i class="las la-long-arrow-alt-right"></i></p>
      </li>
      <li class="side-third"><img src="assets/images/giftheader.svg"></li>
    </ul>      
  </div>
  </div>
     </div>   
    </div>  
  </section>