.icon-location-box h4{
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 0.5rem;
}
.popular{
    font-size: 1.15rem;
    font-weight: 700;
    margin-bottom: 2rem;
    margin-top: 1rem;
}
.loc-close{
    float: right;
    font-size: 2rem;
    color: #000;
}