<section class="profile-page-bg">
    <div class="container">
       <div class="row">
 <div class="col-md-4">
     <app-profilenav></app-profilenav>
 </div>
 <div class="col-md-8">
 <div class="profile-shadow-box">
     <h3>Change Password</h3>
     <div class="row ">
                       
   
 
 <mat-form-field class="form-group col-md-6">
  <mat-label> New Password</mat-label>
  <input matInput #input type="password" placeholder="" required>
 </mat-form-field>
 <mat-form-field class="form-group col-md-6">
 <mat-label> Confirm Password</mat-label>
 <input matInput #input type="password" placeholder="" required>
 </mat-form-field>
 
 
 
 <div class="mt-4 form-group text-center">
 <button class="btn button btn-block w-50 mx-auto" >Change Password</button>
 </div>
 </div>
 </div>
 </div>
       </div> 
    </div> 
 </section>
 
