.table th img,
.table td img {
    width: 120px;
    height: 64px;
    border-radius: 4px;
}

::ng-deep .mat-tab-labels {
    margin: 0 300px !important;
    text-align: center !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}

::ng-deep .mat-tab-label {
    font-weight: 700;
}

.pagonation {
    margin-left: 650px;
    margin-top: 10px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 760px) {
    .search_mobile_inforamtive {
        display: block !important;
    }
    .pagonation {
        margin-left: 0%;
    }
     ::ng-deep .page-body-wrapper {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
     ::ng-deep .page_title_info {
        padding-left: 0 !important;
    }
    .page--title {
        font-size: 14px !important;
    }
     ::ng-deep .mobile_userInfo {
        margin-left: 0 !important;
        padding: 0 !important;
    }
     ::ng-deep .search_mobile_inforamtive .mat-form-field-wrapper {
        padding: 0 !important;
    }
     ::ng-deep .export_informative {
        text-align: start;
        margin: 0 auto;
        padding: 15px 0 0;
        display: flex;
    }
     ::ng-deep .search_mobile {
        text-align: start;
        margin: 5px auto;
        padding: 0 !important;
        justify-content: center;
        display: flex !important;
    }
     ::ng-deep .search_mobile .mat-form-field-wrapper {
        padding: 0 !important;
    }
    .page_induvidul_title {
        padding-left: 0 !important;
    }
}