<section class="profile-page-bg">
    <div class="container">
       <div class="row">
 <div class="col-md-4">
     <app-profilenav></app-profilenav>
 </div>
 <div class="col-md-8">
 <div class="profile-shadow-box">
     <h3>Notifications</h3>
     <div class="notification-box mb-4 d-flex border-bottom pb-3">
<div class="first">
 <img src="assets/images/cup.svg">   
</div>
<div class="second">
<h5>Congratulations!! 52 Reward points have been credited</h5>
<p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying
    out print.</p>
</div>
<div class="third">
<a href=""><i class="las la-times notification-close"></i></a>
</div>
 </div>
 <div class="notification-box mb-4 d-flex  border-bottom pb-3">
    <div class="first">
     <img src="assets/images/mark.svg">   
    </div>
    <div class="second">
    <h5>Did you know?</h5>
    <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying
        out print.</p>
    </div>
    <div class="third">
    <a href=""><i class="las la-times notification-close"></i></a>
    </div>
     </div>
     <div class="notification-box mb-4 d-flex  border-bottom pb-3">
        <div class="first">
         <img src="assets/images/cup.svg">   
        </div>
        <div class="second">
        <h5>Congratulations!! 52 Reward points have been credited</h5>
        <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying
            out print.</p>
        </div>
        <div class="third">
        <a href=""><i class="las la-times notification-close"></i></a>
        </div>
         </div>
 </div>
 </div>
       </div> 
    </div> 
 </section>
 
