.home-page-bg {
  background: linear-gradient(180deg, #fbf1f0 0%, rgba(255, 255, 255, 0) 100%);
  position: relative;
  padding: 4rem;
}
.home-page-bg::after {
  content: "";
  background-image: url(/assets/images/banner-bg.svg);
  position: absolute;
  top: -59px;
  left: 0;
  z-index: -2;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  background-position: -39px;
}
.stores {
  background-position-y: 76px;
}
.home-page-bg h5 {
  font-size: 1.2rem;
  font-weight: 400;
}
.banner-image {
  margin: 1rem 0;
}
.home-page-bg h1 {
  font-size: 2rem;
  margin: 1rem 0;
  font-weight: 600;
}
.home-page-bg h4 {
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.choose-btn {
  box-shadow: 0px 4px 15px 0px #00000026;
  background: linear-gradient(90.84deg, #a38a55 0%, #91793f 106.23%);
  color: #fff;
  display: inline-block;
  padding: 0.5rem 2rem;
  font-weight: 500;
  border-radius: 20px;
  text-decoration: none;
  transition: all 0.5s;
}
.choose-btn:hover {
  background: #000;
  color: #fff;
  text-decoration: none;
}
.category-icon {
  margin: 0 auto 1rem;
  display: block;
  height: 70px;
  object-fit: contain;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.birthday-box:hover .category-icon {
  transform: scale(1.2);
}
.category-icon-row h4 {
  font-size: 1rem;
  font-weight: 500;
}
.birthday-box:hover h4 {
  color: var(--main);
  font-size: 1rem;
  font-weight: 600;
}
.testimonial-grid ul {
  list-style: none;
}
.testimonial-ul {
  padding-inline-start: 0px;
}
.testimonial-ul h5 {
  font-size: 1rem;
  font-weight: 600;
}
::ng-deep .owl-theme .owl-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonial-ul h5 span {
  font-size: 0.7rem;
  display: block;
  font-weight: normal;
  color: #505565;
  margin-top: 0.5rem;
}
.ballon {
  position: absolute;
  top: 20px;
  left: -24px;
  transform: rotate(-20deg);
}
.testimonial-ul img {
  height: 50px;
  padding-right: 1rem;
}
.testimonial-grid {
  margin: 2rem auto;
}
.owl-theme .owl-dots,
.owl-theme .owl-nav {
  text-align: left;
}
@media (max-width: 767px) {
  ::ng-deep .navbar {
    /* position: absolute !important; */
    top: 0px !important;
    left: 0 !important;
    border-top: 0 !important;
    padding-bottom: 10px !important;
    background: transparent !important;
    border-bottom: solid 2px #000 !important;
  }
 
  ::ng-deep .navbar-toggler{
    padding: 0;
  }
 
}
@media (min-width: 768px) and (orientation: portrait) {
  .home-page-bg h1 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
  }
  .product-banner .owl-prev,
  .testimonimal-banner .owl-prev {
    right: 5% !important;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 760px) {
}
@media only screen and (max-width: 320px) {
}
