<section class="profile-page-bg bg-cover">
<div class="container">
    <h3 class="order-confirmation">Order Confirmation</h3>
    <div class="row justify-content-center">
      <div class="col-md-5 text-center">
        <img src="assets/images/orderconfirmation.svg" class="img-fluid" />
     
    <h2 class="congrats">Congratulations!!!</h2>
    <h4>Thank You          <img src="assets/images/smile.svg" class="img-fluid" /></h4>
    <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used
        in laying out print.</p>
        <div class="mt-4 form-group text-center">
          <button class="btn button btn-block  mx-auto" >Continue Shopping</button>
          </div>
</div>
</div>  
</div>
</section>
    