<div class="d-flex justify-content-between">
  <div></div>
  <div>
    <p class="filter-title">Reward Category</p>
  </div>
  <div>
    <button
      mat-mini-fab
      color="warn"
      (click)="close()"
      style="background: #e04f5f"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<form [formGroup]="rewardGroup" (ngSubmit)="rewardSubmit()">
  <div class="row mt-5">
    <div class="col-md-8 col-sm-12 mx-auto">
      <p class="m-0 form-lable">REWARD CATEGORY</p>
      <mat-form-field appearance="fill" class="full-width">
        <mat-select formControlName="reward" placeholder="Select Partner Name">
          <mat-option value="">Selete Reward Category</mat-option>
          <mat-option value="hyderabad"> 1234 </mat-option>
          <mat-option value="banglore"> 124AD </mat-option>
          <mat-option value="chenni"> 123 </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="d-flex justify-content-center my-md-5 my-sm-3">
    <button type="button" mat-button class="primary--button">
      <span class="px-4">Save</span>
    </button>
  </div>
</form>
