.side-box-cart{
    padding: 1rem;
    background-color: #F9FBFE;
    margin-bottom: 1rem;
    border-radius:12px;
    position: relative;
    }
    .wishlist{
        background-image: url(/assets/images/banner-bg.svg);
        padding: 2rem;
        background-size: auto;
        background-position: top center;
        background-repeat: no-repeat;
    }
    mat-label {
     
        text-transform: uppercase;
    }
    .underline{
        height:5px;
        border-bottom: 1px dashed #D1D1D3
    }
    .donate-now {
        list-style-type: none;
     
        padding: 0;
      }
      
      .donate-now li {
        float: left;
        width: 40%;
        height: 40px;
        position: relative;
      }
      
      .donate-now label,
      .donate-now input {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
      
      .donate-now input[type="radio"] {
        opacity: 0.01;
        z-index: 100;
      }
      
      .donate-now input[type="radio"]:checked+label,
      .Checked+label {
       opacity: 1;
       font-weight: 600;
       color: var(--main);
      }
      
      .donate-now label {
        font-family: 'Open Sans', sans-serif;
        cursor: pointer;
        z-index: 90;
      }
      .donate-now label img{
        height: 28px;
        padding-right: 0.5rem;
        filter: grayscale(100%);
      }
      .donate-now input[type="radio"]:checked+label img,
      .Checked+label {
        filter: grayscale(0%);
      }
      .donate-now label:hover {
       opacity: 1;
      }
    .side-box-cart p{
    font-size: 0.825rem;
    }
    .side-heading{
        font-size: 1rem;
        line-height: 24px;
        font-weight: 600;
    }
    .side-box-cart p.pay{
        padding-top: 1rem;
        border-top: 0.6px solid #B3B4B9;
        color: #000;
        font-weight: 600;
    }
    .side-box-cart p.pay span{
    color: #B76E79;
    
    }
    .cart-small{
        font-size: 0.75rem;
        margin-bottom: 0;
    }
    .side-box-cart p span{
        float: right;
        font-weight: 500;
    }