<section class="wishlist"> 
    <div class="container">
<div class="row">


<div class="col-md-8">
<h4 class="checkout-heading">Choose Payment Method</h4>
<div class="check-box-shadow">
    <h4 class="recipient">Store Address</h4>
    <ul class="list-inline d-flex">
<li class="me-3"><img  src="assets/images/store-add.svg" /></li>
<li><h4 class="store-add-name">Mangatrai Pearls & Jewellers</h4><p class="store-add-p">Krish-e @ 36, Plot No-499, Rd Number 36, Near Oakton GTSCI – an NTT Company,
    Jubilee Hills, Hyderabad, Telangana 500033</p></li>
    </ul>

</div>
<div class="check-box-shadow">

 
    <div class="row ">
                      
    

<div class="mt-4 form-group text-center">
<button class="btn button btn-block w-50 mx-auto"  routerLink="/order-confirmation" > Pay &#8377; 29,198</button>
</div>
</div>
</div>
</div>
<div class="col-md-4">
    <div class="side-box-cart">
        <h3 class="side-heading mt-2 mb-4">   Order Summary</h3>
        <p>Sub total <span> &#8377; 29,198</span></p>
        <p>Gift packing
            <span> Free</span></p>
        <p>Offer Discount <span> &#8377; 569</span></p>
        <p class="pay">Payable Amount <span > &#8377; 29,198</span></p>
        <ul class="list-inline d-flex">
            <li><img src="assets/images/mark-cart.svg" /></li>
<li class="ms-2"><small class="cart-small">Lorem ipsum, or lipsum as it is sometimes
    known print.</small></li>
        </ul>
        <div class="mt-3 text-center">
    </div>
        </div>
        </div>
    </div>
</div>

</section>
