<div class="onborging_inforamtive">
  <div class="onbording_head">
    <p class="lable_title">E-Signature</p>
    <div class="onbordinG-right">
      <p>Partner</p>
      <p>/</p>
      <p class="signature">E-Signature</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="e_signature_info">

        <div class="row">
          <div class="col-md-12">
            <p class="lable-font-title">Add E-Signature</p>
            <div class="border_dotted">
              <img src="../../../../assets/cloud-computing%20(1).svg"
                   width="10%"
                   alt="" />
              <p>Click to Upload</p>
            </div>
          </div>

          <button class="onbording_button">Finshing OnBording</button>
          <button class="cancel_button">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
