.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.example-full-1 {
    width: 460px;
}

.login-button {
    width: 50%;
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    background: #988149;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 48px;
}

.Cancel-button {
    width: 50%;
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    background: grey;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 48px;
}

.error-block {
    color: #e35a49;
    font-size: 12px;
}

.admins_head h6 {
    font-weight: 700;
    text-transform: capitalize;
    font-size: 17px;
    margin-left: 30px;
}

.add {
    color: #988149;
}

.admin_lable {
    color: gray;
}

::-webkit-input-placeholder {
    color: rgb(0, 0, 0);
    font-weight: 500;
}

.h4 {
    font-weight: bold;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 760px) {
    .add_user_informative {
        margin: 0 10px 0 0 !important;
    }
    .example-full-1 {
        width: 100%;
    }
     ::ng-deep .mobile_images {
        margin: 25px !important;
        padding: 0 !important;
    }
    .page_induvidul_title {
        padding-left: 0 !important;
    }
    .lable-font-title {
        font-size: 17px !important;
    }
    .page_title_info {
        font-size: 14px !important;
    }
}