<section class="profile-page-bg">
   <div class="container">
      <div class="row">
<div class="col-md-4">
    <app-profilenav></app-profilenav>
</div>
<div class="col-md-8">
<div class="profile-shadow-box">
    <h3>My Profile</h3>
    <div class="row ">
                      
        <mat-form-field class="form-group col-md-6" floatLabel="always">
            <mat-label> Full Name</mat-label>
            <input matInput #input type="email" placeholder="Supraj" required >
          </mat-form-field>
<mat-form-field class="form-group col-md-6" floatLabel="always">
 <mat-label> Email ID</mat-label>
 <input matInput #input type="email" placeholder="" required>
</mat-form-field>


<mat-form-field class="form-group col-md-6" floatLabel="always">
<mat-label> Age</mat-label>
<input matInput #input type="email" placeholder="" required>
</mat-form-field>
<mat-form-field  class="form-group col-md-6" floatLabel="always">
<mat-label>Select City</mat-label>
<mat-select matInput #input required>
  <mat-option value="one">City</mat-option>
  <mat-option value="two">city2</mat-option>
</mat-select>
</mat-form-field>
<mat-form-field  class="form-group col-md-6" floatLabel="always">
<mat-label>Select State</mat-label>
<mat-select matInput #input required>
  <mat-option value="one">City</mat-option>
  <mat-option value="two">city2</mat-option>
</mat-select>
</mat-form-field>
<mat-form-field  class="form-group col-md-6" floatLabel="always">
<mat-label>Select Country</mat-label>
<mat-select matInput #input required>
  <mat-option value="one">City</mat-option>
  <mat-option value="two">city2</mat-option>
</mat-select>
</mat-form-field>
<mat-form-field class="form-group col-md-6" floatLabel="always">
<mat-label> Phone number</mat-label>
<input matInput #input type="email" placeholder="" required>
</mat-form-field>
<mat-form-field class="form-group col-md-6" floatLabel="always">
<mat-label> Address</mat-label>
<input matInput #input type="email" placeholder="" required>
</mat-form-field>

<div class="mt-4 form-group text-center">
<button class="btn button btn-block w-50 mx-auto" >Update</button>
</div>
</div>
</div>
</div>
      </div> 
   </div> 
</section>
