::ng-deep body {
  font-family: "Montserrat", sans-serif !important;
}

.form-lable {
  font-size: 15px;
  font-weight: 700;
}

.full-width {
  width: 100%;
  font-weight: 500 !important;
  font-size: 16px !important;
  font-family: "Montserrat" !important;
}

.outline-button {
  width: 140px;
  height: 40px;
  border: 1px solid #9e8656;
  font-size: 15px;
  color: #9e8656;
}

.rounded-button {
  width: 140px;
  height: 40px;
  background: #9e8656;
  font-size: 15px;
  color: #ffffff;
}
::ng-deep .model_form {
  max-width: 100% !important;
  width: 100% !important;
  height: 100vh !important;
  padding: 50px 0 0 50px;
  position: relative;
}
::ng-deep .mat-radio-label-content {
  font-weight: 600;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: #9e8656 !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #9e8656 !important;
  /*inner circle color change*/
  height: 17px;
  width: 17px;
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked
  .mat-radio-outer-circle {
  border-color: #9e8656 !important;
  /*outer ring color change*/
  width: 17px !important;
  height: 17px !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #9e8656 !important;
}

::ng-deep.mat-select-arrow {
  color: #9e8656 !important;
}

.full-width {
  width: 100%;
  font-weight: 500 !important;
  font-size: 16px !important;
  font-family: "Montserrat" !important;
}

::ng-deep.mat-select-arrow {
  color: #9e8656 !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #9e8656;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #9e8656;
}

::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: #9e8656;
}

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #9e8656;
}

::ng-deep .mat-radio-button {
  width: 129px;
  font-size: 13px;
}
.mat-select-placeholder {
  color: #000;
  font-size: 13px;
  font-weight: 600;
}

::ng-deep .mat-dialog-container {
  // max-width: 560px;
  // min-height: 500px;
  // padding: 50px 70px;
  position: relative;
  z-index: 99999999999;
}

::ng-deep .mat-dialog-container .button_close {
  position: absolute;
  right: 13px;
  top: 10px;
  z-index: 999999999999999999999 !important;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  font-size: 17px;
  line-height: -11px;
  justify-content: center;
  background: #e04f5f;
  border: none;
  color: #fff;
  border-radius: 50%;
  padding-bottom: 2px;
}
::ng-deep .mat-dialog-container .button_close .mat-icon {
  font-size: 15px !important;
  font-weight: 700;
  margin-top: 7px;
}

::ng-deep .mat-dialog-content {
  overflow: hidden !important;
  max-height: 100% !important;
}
::ng-deep .cdk-overlay-pane {
  max-width: 100vw !important;
  height: 83vh !important;
  width: 57% !important;
}
::ng-deep .filter_popup_heading h2 {
  font: normal normal 700 20px/16px Montserrat !important;
  font-family: "Montserrat" !important;
}
.mat-form-field-infix {
  border-top: hidden !important;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  padding: 0 !important;
}
::ng-deep .mat-form-field-appearance-fill .mat-select-arrow-wrapper {
  transform: translateY(-30%) !important;
}
.form_bottom_buttons {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  position: absolute;
  bottom: 66px;
  z-index: 9999999999999999999999 !important;
  width: 357px;
  /* overflow: auto; */
  margin: 0 100px;
}
// ::ng-deep .padding_topFour {
//   margin-top: 50px !important;
// }
::ng-deep .padding_topThree {
  padding-top: 10px;
}
::ng-deep .padding_topTwo {
  padding-top: 10px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 760px) {
  ::ng-deep .cdk-overlay-pane {
    max-width: 100vw !important;
    width: 90% !important;
    height: 70vh !important;
    margin: 0 12px;
  }
  .model_form {
    padding: 0 !important;
  }
  ::ng-deep .mat-dialog-container {
    padding: 30px !important;
    min-height: auto;
  }
  .mat-dialog-content {
    padding: 0 !important;
    margin: 0 !important;
  }
  .padding_topFour {
    margin-top: 0 !important;
  }

  .outline-button {
    width: 115px;
  }
  .rounded-button {
    width: 115px;
  }
  .mat-radio-outer-circle {
    height: 15px;
    width: 15px;
  }
  .form-lable {
    font-size: 13px !important;
  }
  .mat-dialog-container {
    top: -60px !important;
  }
}

.mat-datepicker-toggle {
  background: url("../../assets/discount-active.svg") no-repeat !important;
}
