img {
  width: 150px;
}
.mat-title,
.mat-typography h2 {
}

::ng-deep .category_head {
  font-size: 13px !important;
  font-weight: 600 !important;
  color: rgb(121, 120, 120) !important;
}
::ng-deep .category_parent {
  font-size: 15px !important;
  font-weight: 600 !important;
  color: #000 !important;
}
::ng-deep .offcer_forming {
  padding-left: 50px !important;
}
