<div *ngIf="router.url !== '/login' && router.url !== '/signup'">
  <div class="header-main border-bottom bg-white">
    <div class="container-fluid">
      <div class="row  d-flex align-items-center">
        <div class="col-md-3 order-sm-1 col-12 mbp-0 col-sm-12">
          <img class="img-fluid logo-image" src="assets/images/Logo.svg" alt="logo-image">
        </div>

        <div class="col-md-9 pl-0 order-sm-2 col-12 col-sm-12 mbp-0">
          <div class="">
            <!-- Links -->
            <ul class="align-items-center tab-block  w-100 d-flex left-header-menu">
              <li class="nav-item "> <a routerLink="/voice" class="mic-icon">
                  <img class="img-fluid " src="assets/images/h-mic.svg" />
                </a></li>
              <li class="nav-item">
                <div class="input-group  search-grid" routerLink="/search-results">
                  <input type="text" class="form-control search-control" placeholder="Type here.."
                    aria-label="Type here.." aria-describedby="basic-addon2">
                  <span class="input-group-text" id="basic-addon2"><i class="las la-search"></i></span>
                </div>
              </li>
              <li class="nav-item tab-location live_location">
                <a class="nav-icon nav-loc-span d-flex align-items-center" routerLink="/select-location">
                  <img class="img-fluid " src="assets/images/header-loc.svg" alt="header-image">
                  <span>Hyderabad - Madhapur</span>
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  <img class="img-fluid " src="assets/images/rupee-h.svg" alt="header-image"> <span
                    class="rupee-text">INR</span>
                </a>
                <ul class="dropdown-menu vendordrop" aria-labelledby="dropdownMenuButton1">

                  <li><a class="dropdown-item">INR</a></li>
                  <li><a class="dropdown-item">USD</a></li>
                  <li><a class="dropdown-item">AED</a></li>
                  <li><a class="dropdown-item">KWD</a></li>
                  <li><a class="dropdown-item">GBP </a></li>
                  <li><a class="dropdown-item">EUR</a></li>
                  <li><a class="dropdown-item">CAD</a></li>
                  <li><a class="dropdown-item">AUD</a></li>
                  <li><a class="dropdown-item">SGD </a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-icon" routerLink="/notification"> <sup>5</sup><img class="img-fluid "
                    src="assets/images/header-notification.svg" alt="header-image"> </a>
              </li>
              <li class="nav-item">
                <a class="nav-icon" routerLink="/wishlist"> <sup>10</sup><img class="img-fluid "
                    src="assets/images/giftheader.svg" alt="header-image"> </a>
              </li>
              <li class="nav-item">
                <a class="nav-icon" routerLink="/cart"> <sup>10</sup><img class="img-fluid "
                    src="assets/images/cartheader.svg" alt="header-image"> </a>
              </li>
              <li class="nav-item d-none">
                <a class="nav-icon" href="#">Login/Register</a>
              </li>

              <li class="nav-item dropdown">
                <a id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"
                  class="nav-icon nav-loc-span d-flex align-items-center">
                  <img class="img-fluid " src="assets/images/user-header.svg" alt="header-image">
                  <span>Supraj</span>
                </a>

                <ul class="dropdown-menu vendordrop" aria-labelledby="dropdownMenuButton1">

                  <li><a class="dropdown-item" routerLink="/profile">My Profile</a></li>
                  <li><a class="dropdown-item" routerLink="/changepassword">Change Password</a></li>
                  <li><a class="dropdown-item" routerLink="/my-orders">My Orders</a></li>
                  <li><a class="dropdown-item" routerLink="/redeem">Redeem (Gions)</a></li>
                  <li><a class="dropdown-item" routerLink="/notification">Notifications </a></li>
                  <li><a class="dropdown-item" routerLink="/My-reminders"> Reminders</a></li>
                  <li><a class="dropdown-item" routerLink="/">Payment Options</a></li>
                  <li><a class="dropdown-item" routerLink="/help">Help</a></li>
                  <li><a class="dropdown-item" routerLink="/">Logout</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <nav class="navbar  navbar-expand-lg">

    <div class="container-fluid">
      <!-- Links -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

        <span class="navbar-toggler-icon dark"><i class="las la-bars"></i></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarSupportedContent">
        <ul class="navbar-nav justify-content-center w-100">
          <li class="nav-item">
            <a class="nav-link" routerLink="/" [ngClass]="{'active' : router.url == '/'}">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" [ngClass]="{'active' : router.url == '/category-stores'}" id="dropdownMenuButton1"
              data-bs-toggle="dropdown" aria-expanded="false">
              Jewellery
            </a>
            <div class="dropdown-menu vendordrop p-0 gender-drop" aria-labelledby="dropdownMenuButton1">
              <ul class=" d-flex cat-gender-dropdown ">

                <li class="col"><a class="dropdown-item text-center" routerLink="/category-stores">
                    <img class="img-fluid " src="assets/images/women-ic.svg" alt="header-image">
                    <p>Women</p>
                  </a></li>
                <li class="col"><a class="dropdown-item text-center" routerLink="/category-stores">
                    <img class="img-fluid " src="assets/images/men-ic.svg" alt="header-image">
                    <p>Men</p>
                  </a></li>
                <li class="col"><a class="dropdown-item text-center" routerLink="/category-stores">
                    <img class="img-fluid " src="assets/images/kids-ic.svg" alt="header-image">
                    <p>Kids</p>
                  </a></li>
                <li class="col"><a class="dropdown-item text-center" routerLink="/category-stores">
                    <img class="img-fluid " src="assets/images/all-ic.svg" alt="header-image">
                    <p>All Recipients</p>
                  </a></li>

              </ul>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a [ngClass]="{'active' : router.url == '/fashion-store'}" class="nav-link" id="dropdownMenuButton1"
              data-bs-toggle="dropdown" aria-expanded="false">
              Fashion
            </a>
            <div class="dropdown-menu vendordrop p-0 gender-drop" aria-labelledby="dropdownMenuButton1">
              <ul class=" d-flex cat-gender-dropdown ">

                <li class="col"><a class="dropdown-item text-center" routerLink="/fashion-store">
                    <img class="img-fluid " src="assets/images/women-ic.svg" alt="header-image">
                    <p>Women</p>
                  </a></li>
                <li class="col"><a class="dropdown-item text-center" routerLink="/fashion-store">
                    <img class="img-fluid " src="assets/images/men-ic.svg" alt="header-image">
                    <p>Men</p>
                  </a></li>
                <li class="col"><a class="dropdown-item text-center" routerLink="/fashion-store">
                    <img class="img-fluid " src="assets/images/kids-ic.svg" alt="header-image">
                    <p>Kids</p>
                  </a></li>
                <li class="col"><a class="dropdown-item text-center" routerLink="/fashion-store">
                    <img class="img-fluid " src="assets/images/all-ic.svg" alt="header-image">
                    <p>All Recipients</p>
                  </a></li>

              </ul>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link" [ngClass]="{'active' : router.url == '/gadgets-store'}" id="dropdownMenuButton1"
              data-bs-toggle="dropdown" aria-expanded="false">
              Gadgets
            </a>
            <ul class="dropdown-menu vendordrop" aria-labelledby="dropdownMenuButton1">

              <li><a class="dropdown-item" routerLink="/gadgets-store">Mobiles</a></li>
              <li><a class="dropdown-item" routerLink="/gadgets-store">Smart Watches</a></li>
              <li><a class="dropdown-item" routerLink="/gadgets-store">Tablets</a></li>
              <li><a class="dropdown-item" routerLink="/gadgets-store">Wireless Headsets</a></li>
              <li><a class="dropdown-item" routerLink="/gadgets-store">AirPods </a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" id="dropdownMenuButton1" [ngClass]="{'active' : router.url == '/accessory-stores'}"
              data-bs-toggle="dropdown" aria-expanded="false">
              Accessories
            </a>
            <div class="dropdown-menu vendordrop p-0 gender-drop" aria-labelledby="dropdownMenuButton1">
              <ul class=" d-flex cat-gender-dropdown ">

                <li class="col"><a class="dropdown-item text-center" routerLink="/accessory-stores">
                    <img class="img-fluid " src="assets/images/women-ic.svg" alt="header-image">
                    <p>Women</p>
                  </a></li>
                <li class="col"><a class="dropdown-item text-center" routerLink="/accessory-stores">
                    <img class="img-fluid " src="assets/images/men-ic.svg" alt="header-image">
                    <p>Men</p>
                  </a></li>
                <li class="col"><a class="dropdown-item text-center" routerLink="/accessory-stores">
                    <img class="img-fluid " src="assets/images/kids-ic.svg" alt="header-image">
                    <p>Kids</p>
                  </a></li>
                <li class="col"><a class="dropdown-item text-center" routerLink="/accessory-stores">
                    <img class="img-fluid " src="assets/images/all-ic.svg" alt="header-image">
                    <p>All Recipients</p>
                  </a></li>

              </ul>
            </div>
          </li>


          <li class="nav-item">
            <a class="nav-link" routerLink="/offers" [ngClass]="{'active' : router.url == '/offers'}">Offers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/aboutus" [ngClass]="{'active' : router.url == '/aboutus'}">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>
</div>