<nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top-extra d-flex flex-row nav_head">
  <!-- <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
    <a class="navbar-brand brand-logo" routerLink="/"><img src="assets/images/logo.svg" alt="logo" /></a>
    <a class="navbar-brand brand-logo-mini" routerLink="/"><img src="assets/images/logo-mini.svg" alt="logo" /></a>
  </div> -->
  <div class="navbar-menu-wrapper d-flex align-items-stretch">
    <!-- <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize" (click)="toggleSidebar()">
      <span class="mdi mdi-menu"></span>
    </button>  -->
    <!-- <div class="search-field d-none d-md-block">
      <form class="d-flex align-items-center h-100" action="#">
        <div class="input-group">
          <div class="input-group-prepend bg-transparent">
            <i class="input-group-text border-0 mdi mdi-magnify"></i>
          </div>
          <input type="text" class="form-control bg-transparent border-0" placeholder="Search projects">
        </div>
      </form>
    </div>  -->
    <h4 class="panelTitle"><strong>Admin Panel</strong></h4>
    <ul class="navbar-nav navbar-nav-right">
      <li class="nav-item dropdown nav-profile"
          ngbDropdown>
        <a class="nav-link count-indicator dropdown-toggle"
           id="messageDropdown"
           ngbDropdownToggle>
          <div class="nav-profile-img nav_img">
            <img src="assets/admin.svg"
                 alt="image">
          </div>
          <div class="nav-profile-text nav_text">
            <p class="mb-1 text-black">Admin</p>
          </div>
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list manage_admin_details"
             ngbDropdownMenu
             aria-labelledby="messageDropdown">
          <div class="admin_user_profile">
            <img src="assets/admin.svg"
                 alt="image">
            <h6>Admin</h6>
          </div>
          <a class="dropdown-item">
            <div class="admin_user_profile_list">
              <h6>Edit Details </h6>
            </div>
          </a>
          <a class="dropdown-item">
            <div class="admin_user_profile_list">
              <h6>Change Password</h6>
            </div>
          </a>
          <a class="dropdown-item">
            <div class="admin_user_profile_list">
              <h6>About Us</h6>
            </div>
          </a>
          <a class="dropdown-item">
            <div class="admin_user_profile_list">
              <h6>Langauge</h6>
            </div>
          </a>
          <a class="dropdown-item">
            <div class="admin_user_profile_list">
              <h6>Vendor Policies</h6>
            </div>
          </a>
          <a class="dropdown-item">
            <div class="admin_user_profile_list">
              <h6>Customer Policies</h6>
            </div>
          </a>
          <a class="dropdown-item">
            <div class="admin_user_profile_list">
              <h6>Terms & Condations</h6>
            </div>
          </a>
          <a class="dropdown-item">
            <div class="admin_user_profile_list">
              <h6>Logout</h6>
            </div>
          </a>
        </div>
      </li>
      <li class="nav-item dropdown"
          ngbDropdown>
        <a class="nav-link count-indicator dropdown-toggle"
           id="notificationDropdown"
           ngbDropdownToggle>
          <i class="mdi mdi-bell-outline"></i>
          <span class="count-symbol bg-danger"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list notifications_see"
             ngbDropdownMenu
             aria-labelledby="notificationDropdown">
          <h6 class="p-3 mb-0">Notifications</h6>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-success">
                <i class="mdi mdi-calendar"></i>
              </div>
            </div>
            <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
              <h6 class="preview-subject font-weight-normal mb-1">Event today</h6>
              <p class="text-gray ellipsis mb-0">
                Just a reminder that you have an event today
              </p>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-warning">
                <i class="bi bi-gear-fill"></i>
              </div>
            </div>
            <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
              <h6 class="preview-subject font-weight-normal mb-1">Settings</h6>
              <p class="text-gray ellipsis mb-0">
                Update dashboard
              </p>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-info">
                <i class="mdi mdi-link-variant"></i>
              </div>
            </div>
            <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
              <h6 class="preview-subject font-weight-normal mb-1">Launch Admin</h6>
              <p class="text-gray ellipsis mb-0">
                New admin wow!
              </p>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <h6 class="p-3 mb-0 text-center ">See all notifications</h6>
        </div>
      </li>
      <!--<li class="nav-item nav-logout d-none d-lg-block">
        <a class="nav-link" href="javascript:;">
          <i class="mdi mdi-power"></i>
        </a>
      </li>
      <li class="nav-item nav-settings d-none d-lg-block">
        <a class="nav-link">
          <i class="mdi mdi-format-line-spacing"></i>
        </a>
      </li>-->
    </ul>
    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
            type="button"
            (click)="toggleOffcanvas()">
      <span class="mdi mdi-menu"></span>
    </button>
  </div>
</nav>
