.icon-location-box h4{
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 0.5rem;
}
.newsub-heading-h3{
    font-size: 1.6rem !important;
    margin-bottom: 1.5rem !important;
    font-weight: 600;
    text-transform: capitalize;
}
.voice-page-bg{
    background-image: url(/assets/images/banner-bg.svg);
background-size: contain;
background-repeat: no-repeat;
}
.popular{
    font-size: 1.15rem;
    font-weight: 700;
    margin-bottom: 2rem;
    margin-top: 1rem;
}
.loc-close{
    float: right;
    font-size: 2rem;
    color: #000;
}
.mic-icon{
    color: #555;
    background: #FAFAFC;
    width: 45px;
    margin-right: 2rem;
    height: 45px;
    font-size: 1.75rem;
    display: inline-block;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
}
.side-res{
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 400;
}