.lable-font-title {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.add-user-btn {
    height: 40px;
    background: #9e8656;
    color: #fff;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.filter-btn {
    height: 40px;
    background: transparent;
    border: 1px solid #9e8656;
    color: #9e8656;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

.btn-outline-35 {
    height: 32px !important;
    background: transparent;
    border: 1px solid #9e8656;
    color: #9e8656;
    font-family: "Montserrat", sans-serif;
}

.table-striped>tbody>tr:nth-child(2n + 1)>td,
.table-striped>tbody>tr:nth-child(2n + 1)>th {
    background-color: #f4f6f9;
}

.table thead th {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 700;
    padding: 5px 7px !important;
    text-align: center;
}

.table tbody tr {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.img_tab {
    padding: 10px !important;
}

.img_tab img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.vedio_tab {
    padding: 10px;
}

.vedio_tab iframe {
    border-radius: 50%;
    width: 100% !important;
    height: 44px !important;
}

.selec_option select {
    background-color: #f83c3c;
    border-radius: 3px;
    color: #fff;
    padding: 2px;
    border: none;
}

.selec_option option {
    background-color: #fff;
    color: #000;
}

::ng-deep .table-responsive tr {
    white-space: nowrap !important;
}

.table .vedio_tab {
    padding: 10px;
    position: relative;
}

.table .vedio_tab img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.table .vedio_tab i {
    position: absolute;
    top: 28px;
    left: 30px;
    right: 0;
    color: #fff;
    font-size: 12px;
    bottom: 0;
    z-index: 9999999;
}

.table .vedio_tab::after {
    position: absolute;
    top: 21px;
    left: 21px;
    right: 0;
    bottom: 0;
    background-color: #f83c3c;
    content: "";
    width: 38%;
    border-radius: 50%;
    height: 38%;
}

::ng-deep .status_info {
    font-family: "Montserrat", sans-serif;
}

::ng-deep table tr td .mat-button {
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    border: none;
    outline: none;
    background-color: #ef5d5d !important;
    font-family: "Montserrat", sans-serif !important;
}

.pagonation {
    margin-left: 650px;
    margin-top: 10px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 760px) {
    .search_mobile_inforamtive {
        display: block !important;
    }
     ::ng-deep .page-body-wrapper {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
     ::ng-deep .page_title_info {
        padding-left: 0 !important;
    }
     ::ng-deep .mobile_userInfo {
        margin-left: 0 !important;
        padding: 0 !important;
    }
     ::ng-deep .search_mobile_inforamtive .mat-form-field-wrapper {
        padding: 0 !important;
    }
     ::ng-deep .export_informative {
        text-align: start;
        margin: 0 auto;
        padding: 15px 0 0;
        display: flex;
    }
     ::ng-deep .search_mobile {
        text-align: start;
        margin: 5px auto;
        padding: 0 !important;
        justify-content: center;
        display: flex !important;
    }
     ::ng-deep .search_mobile .mat-form-field-wrapper {
        padding: 0 !important;
    }
    .page_induvidul_title {
        padding-left: 0 !important;
    }
}