<footer *ngIf="router.url !== '/login' && router.url !== '/signup'">
<div class="container">
    <div class="row">
        <div class="col-md-4 col-xl-4 col-xxl-4 col-6 col-sm-6">
            <h4>Categories</h4>
            <ul>
             <li><a routerLink="/" >Home</a></li> 
             <li><a routerLink="/category-stores">Jewellery</a></li>  
             <li><a routerLink="/fashion-stores">Fashion</a></li>   
             <li><a routerLink="/gadgets-stores">Gadgets</a></li>  
             <li><a routerLink="/accessory-stores">Accessories</a></li> 
             <li><a routerLink="/offers">Offers</a></li>  
              
            </ul>
        </div>
        <div class="col-md-4 col-xl-4 col-xxl-4 col-6 col-sm-6">
            <h4>Quick Links</h4>
            <ul>
             <li><a routerLink="/vendors">Partners</a></li>   
             <li><a routerLink="/vendors">Vendors</a></li>  
             <li><a>Products</a></li>  
             <li><a>Blog</a></li> 
             <li><a routerLink="/aboutus">About Us</a></li> 
             <li><a>News</a></li>  
             <li><a>Careers</a></li>  
             <li><a>Contact</a></li>  
            </ul>
        </div>
        <div class="col-md-4 col-xl-4 col-xxl-4 col-12 col-sm-12">
            <h4>Reach Us</h4>
            <ul class="address-ul">
             <li ><img src="assets/images/footer-loc.svg"  />Bangalore, India</li>   
             <li> <img src="assets/images/Mobile.svg"  /> +91 80081 96959</li>  
             <li><img src="assets/images/Email.svg"  />support@giftonn.in</li>  
             
            </ul>
            <div class="social-div mb-3">
                <a> <img src="assets/images/google.svg" class="social-image" alt="google" ></a>
            <a> <img src="assets/images/facebook.svg" class="social-image" alt="facebook" ></a>
            <a> <img src="assets/images/instgram.svg" class="social-image" alt="instgram" ></a>
            <a> <img src="assets/images/linkedin.svg" class="social-image" alt="linkedin" ></a>
            <a> <img src="assets/images/youtube.svg" class="social-image" alt="youtube" ></a>
            <a> <img src="assets/images/twitter.svg" class="social-image" alt="twitter" ></a>
        </div>
            <h4>Download Giftonn App</h4>
            <img src="assets/images/playstore.svg" class="m-1 mb-2"  />
            <img src="assets/images/appstore.svg"  class="m-1 mb-2" />
        </div>
    </div>
    <div class="footer-bottom">
        Copyright&copy; 2021 All rights reserved by Troyono Digital
    </div>
</div>
    </footer>
