<section class="deafult-page-bg bg-transparent">
  <div class="container h-100">
    <div class="bread-crumb">Home / Jewellery / Womem / Rings / Tanishq Jewellery / <span class="active">Mr & Mrs Gold
        Couple Diamond Band</span></div>
    <div class="row h-100 ">
      <div class="col-md-5">
        <div class="main-image">
          <img src="assets/images/pbig.svg" class="img-fluid" />
        </div>
        <ul class="d-flex d-flex list-inline mt-2 small-img">
          <li class="active"> <img src="assets/images/p2.svg" class="img-fluid" /> </li>
          <li> <img src="assets/images/p.svg" class="img-fluid" /> </li>
          <li> <img src="assets/images/p1.svg" class="img-fluid" /> </li>
          <li> <img src="assets/images/p.svg" class="img-fluid" /> </li>
        </ul>
      </div>
      <div class="col-md-7">
        <h3 class="product-name">Mr & Mrs Gold Couple Diamond Band</h3>
        <div class="row">
          <div class="col-md-6 price-div">
            <h5>Price : &#8377;&nbsp;29,216</h5>
            <span class="inctaxes">(Inc all taxes)</span>
          </div>
          <div class="col-md-6 ratting-count text-end">
            <i class="las la-star"></i> <i class="las la-star"></i> <i class="las la-star"></i><i
              class="las la-star"></i>
            <i class="las la-star-half"></i> &nbsp;<span>2,567</span>
          </div>
          <div class="col-md-12">
            <h6 class="stock">Availability : <span>In Stock</span></h6>
          </div>
          <div class="col-md-12">
            <h5 class="near">Also in Near by Outlets <i class="las la-angle-down"></i></h5>
          </div>
          <div class="col-md-12">
            <p class="descp">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in
              laying out print.</p>
          </div>
          <div class="col-md-12">
            <h3 class="details">Product Details</h3>
            <div class="row ">



              <mat-form-field class="form-group col-md-4" floatLabel="always">
                <mat-label> Size</mat-label>
                <mat-select matInput #input required>
                  <mat-option value="one">Size</mat-option>
                  <mat-option value="two">Size</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="form-group col-md-4" floatLabel="always">
                <mat-label> Gold Color</mat-label>
                <mat-select matInput #input required>
                  <mat-option value="one">22</mat-option>
                  <mat-option value="two">24</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-12">
            <h6 class="wt">Weight: <span>5.042 g</span></h6>
          </div>
          <div class="col-md-9">
            <div class="price-break-up h-100">
              <h6>Price Breakup</h6>
              <div class="detailsdiv">
                <span>Gold</span>
                <label>22, 977</label>
              </div>
              <div class="detailsdiv">
                <span>Stone</span>
                <label>315</label>
              </div>
              <div class="detailsdiv">
                <span>Making</span>
                <label>5055</label>
              </div>
              <div class="detailsdiv">
                <span>Tax</span>
                <label>850.86</label>
              </div>

            </div>
          </div>
          <div class="clearfix mb-4"></div>
          <div class="  mb-3 d-flex text-start">
            <button class="btn button-outline   w-40 " (click)="addWishlist();">Add to Wishlist</button> <button
              (click)="addCart();" class="btn button-full ms-2   w-40 ">Add to Cart</button>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <h4 class="spec-h">Product Specifications</h4>
      </div>
      <div class="col-md-6">
        <ul class="Specifications">
          <li><small>Brand</small> <span>Tanishq</span></li>
          <li><small>Type</small> <span>Designgold</span></li>
          <li><small>Product</small> <span>Finger Ring</span></li>
          <li><small>Metal</small> <span>Gold</span></li>
          <li><small>Metal Color</small> <span>Yellow</span></li>
          <li><small>Occasion</small> <span>Traditional / Ethnic Wear</span></li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul class="Specifications">
          <li><small>Purity</small> <span>22.00</span></li>
          <li><small>Gender</small> <span>Women</span></li>
          <li><small>Collection</small> <span>Svarupam</span></li>
          <li><small>Jewellery Type</small> <span>Design Gold Jewellery</span></li>
          <li><small>Finding</small> <span>A</span></li>
          <!-- <li><small>Brand</small> <span>Tanishq</span></li>  -->
        </ul>
      </div>
    </div>

  </div>
</section>
<section class="product-banner position-relative stores">
  <div class="container">
    <h3 class="sub-heading-h3">Similar Products <a class="view-all float-end">View All <i
          class="las la-long-arrow-alt-right"></i></a></h3>
    <owl-carousel-o [options]="productOptions">

      <ng-container *ngFor="let slide of Products">
        <ng-template carouselSlide>
          <div class="product-box">
            <div class="product-box-image">
              <img src="{{slide.img}}" class="img-fluid product-image" alt="product-image" />
            </div>
            <h4>{{slide.name}}</h4>
            <div class="product-details"><img src="assets/images/rupee.svg" /><span class="ps-2">{{slide.price}}</span>
            </div>
            <div class="product-details"><img src="assets/images/userproduct.svg" /><span
                class="ps-2">{{slide.cust}}</span></div>
            <p class="gift-now">Gift Now <i class="las la-long-arrow-alt-right"></i> <img
                src="assets/images/giftheader.svg"></p>
          </div>
        </ng-template>
      </ng-container>

    </owl-carousel-o>
  </div>
</section>
<section class="product-banner position-relative">
  <div class="container">
    <h3 class="sub-heading-h3">Top Reviews <a class="view-all float-end">View All <i
          class="las la-long-arrow-alt-right"></i></a></h3>
    <div class="review-box mb-4">
      <ul class="d-flex list-inline">
        <li class="w-5"> <img class="img-fluid " src="assets/images/user-header.svg" alt="header-image"></li>
        <li class="w-85 review-content">
          <h3>Manish Manu</h3>
          <div class=" ratting-count ">
            <i class="las la-star"></i> <i class="las la-star"></i> <i class="las la-star"></i><i
              class="las la-star"></i>
            <i class="las la-star-half"></i>
          </div>
          <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print. Lorem ipsum, or
            lipsum as it is sometimes known, is dummy text used in
            laying out print. </p>
          <small>199 people found this helpful</small>
          <a class="helpful">Helpful</a>
        </li>
        <li class="w-10 text-end"><span class="date">20th Sep, 2021</span></li>
      </ul>

    </div>
    <div class="review-box mb-4">
      <ul class="d-flex list-inline">
        <li class="w-5"> <img class="img-fluid " src="assets/images/user-header.svg" alt="header-image"></li>
        <li class="w-85 review-content">
          <h3>Manish Manu</h3>
          <div class=" ratting-count ">
            <i class="las la-star"></i> <i class="las la-star"></i> <i class="las la-star"></i><i
              class="las la-star"></i>
            <i class="las la-star-half"></i>
          </div>
          <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print. Lorem ipsum, or
            lipsum as it is sometimes known, is dummy text used in
            laying out print. </p>
          <small>199 people found this helpful</small>
          <a class="helpful">Helpful</a>
        </li>
        <li class="w-10 text-end"><span class="date">20th Sep, 2021</span></li>
      </ul>

    </div>
    <div class="review-box mb-4">
      <ul class="d-flex list-inline">
        <li class="w-5"> <img class="img-fluid " src="assets/images/user-header.svg" alt="header-image"></li>
        <li class="w-85 review-content">
          <h3>Manish Manu</h3>
          <div class=" ratting-count ">
            <i class="las la-star"></i> <i class="las la-star"></i> <i class="las la-star"></i><i
              class="las la-star"></i>
            <i class="las la-star-half"></i>
          </div>
          <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print. Lorem ipsum, or
            lipsum as it is sometimes known, is dummy text used in
            laying out print. </p>
          <small>199 people found this helpful</small>
          <a class="helpful">Helpful</a>
        </li>
        <li class="w-10 text-end"><span class="date">20th Sep, 2021</span></li>
      </ul>

    </div>

    <div class="review-box mb-4">
      <ul class="d-flex list-inline">
        <li class="w-5"> <img class="img-fluid " src="assets/images/user-header.svg" alt="header-image"></li>
        <li class="w-85 review-content">
          <h3>Manish Manu</h3>
          <div class=" ratting-count ">
            <i class="las la-star"></i> <i class="las la-star"></i> <i class="las la-star"></i><i
              class="las la-star"></i>
            <i class="las la-star-half"></i>
          </div>
          <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print. Lorem ipsum, or
            lipsum as it is sometimes known, is dummy text used in
            laying out print. </p>
          <small>199 people found this helpful</small>
          <a class="helpful">Helpful</a>
        </li>
        <li class="w-10 text-end"><span class="date">20th Sep, 2021</span></li>
      </ul>

    </div>
    <div class="review-box mb-4">
      <ul class="d-flex list-inline">
        <li class="w-5"> <img class="img-fluid " src="assets/images/user-header.svg" alt="header-image"></li>
        <li class="w-85 review-content">
          <h3>Manish Manu</h3>
          <div class=" ratting-count ">
            <i class="las la-star"></i> <i class="las la-star"></i> <i class="las la-star"></i><i
              class="las la-star"></i>
            <i class="las la-star-half"></i>
          </div>
          <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print. Lorem ipsum, or
            lipsum as it is sometimes known, is dummy text used in
            laying out print. </p>
          <small>199 people found this helpful</small>
          <a class="helpful">Helpful</a>
        </li>
        <li class="w-10 text-end"><span class="date">20th Sep, 2021</span></li>
      </ul>

    </div>
  </div>
  <img src="assets/images/cut-n-half.png" class="curve-cut-half">
</section>