.nav-tabs {
  padding: 6px 0;
}
.nav-tabs .active {
  color: #988149;
  position: relative;
  margin-bottom: 4px;
}
::ng-deep .nav-tabs.nav-link {
  margin-bottom: 4px;
}
.nav-tabs .active::before {
  background-color: #988149;
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  right: 0;
  top: 41px;
  content: "";
}

.nav-tabs .second {
  margin-left: 23%;
  border: 0px !important;
  font-weight: bold;
}

.shadow-lg {
  height: 50%;
}

.nav-tabs .first {
  margin-left: 30%;
  border: 0px !important;
  font-weight: bold;
}

.mobile {
  font-weight: 600;
  font-size: 20px;
  margin-left: 8px;
  color: black;
  margin-top: 20px;
}

.email {
  font-weight: 600;
  font-size: 20px;
  margin-left: 8px;
  color: black;
}

.customer-help-info img {
  width: 9%;
  height: 9%;
}

.nav-tabs .nav-link {
  border: none;
  background-color: #fff !important;
}

.nav-tabs .nav-link {
  padding: 9px 10px 0;
}

.heading-contact-container {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 10px 0;
}

.heading-avatar-icon img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.message-text {
  padding: 10px;
  border-radius: 15px;
}
