<section class="profile-page-bg">
    <div class="container">
       <div class="row">
 <div class="col-md-4">
     <app-profilenav></app-profilenav>
 </div>
 <div class="col-md-8">
 <div class="profile-shadow-box">
     <h3>Redeem Points</h3>
     <div class="row h-100 align-items-center">
                 <div class="col-md-6">
                    <img src="assets/images/redeempoints.svg" class="img-fluid" />
                 </div> 
                 <div class="col-md-6 text-center">
                    <h4 class="reward-h4">110</h4> 
                    <span class="reward">Total Rewards Points</span>
                    </div>
                </div>
                <h4 class="spending">History & Spent <span class="last-month">(Last 3 Months)</span> <span class="float-end"><img  src="assets/images/calendaricon.svg" /> <img  src="assets/images/filter.svg" class="ms-3" /></span></h4>
                <div class="order-box-list">

                    <ul class="list-group list-group-horizontal border-0">
                      <li class="list-group-item border-0 w-10" ><img  src="assets/images/imagegift.svg" class="img-fluid" /></li>
                      <li class="list-group-item border-0 w-90">
                       <div class="inside-order-box">
                        <h4>Personalized Smart Touch Mood Lamp Speaker <span class="minus">-51</span></h4> 
                        <h6>₹2,599.00</h6>  
                        <span class="w-50 text-left">Oct 10, 2021</span> 
                       </div>   
                      </li> 
                   
                  </ul>
                 
                  </div>
                  <div class="order-box-list">

                    <ul class="list-group list-group-horizontal border-0">
                      <li class="list-group-item border-0 w-10" ><img  src="assets/images/imagegift.svg" class="img-fluid" /></li>
                      <li class="list-group-item border-0 w-90">
                       <div class="inside-order-box">
                        <h4>Personalized Smart Touch Mood Lamp Speaker <span class="plus">+151</span></h4> 
                        <h6>₹2,599.00</h6>  
                        <span class="w-50 text-left">Oct 10, 2021</span> 
                       </div>   
                      </li> 
                   
                  </ul>
                 
                  </div>
 
 
 

 </div>
 </div>
       </div> 
    </div> 
 </section>
 
