.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

::-webkit-input-placeholder {
    color: rgb(0, 0, 0);
    font-weight: 500;
}

.login-button {
    width: 50%;
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    background: #988149;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 48px;
}

.lable-font-title {
    color: #000;
    font-weight: 600;
}

.Cancel-button {
    width: 50%;
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    background: grey;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 48px;
}

.error-block {
    color: #e35a49;
    font-size: 12px;
}

.admins_head h6 {
    font-weight: 700;
    text-transform: capitalize;
    font-size: 17px;
    margin-left: 30px;
}

.add {
    color: #988149;
    font-size: 17px;
    font-weight: bold;
}

.admin_lable {
    color: gray;
    font-weight: bold;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 760px) {
    .add_user_informative {
        margin: 0 10px 0 0 !important;
    }
    .rounded-button {
        margin-bottom: 20px;
    }
}