.lable-font-title {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.form-lable {
    font-size: 14px;
    font-weight: 500;
    color: gray;
}

.page-title {
    font-weight: bold;
}

.lable-color-gray {
    color: gray;
}

.font-color {
    color: #988149;
}

::-webkit-input-placeholder {
    color: rgb(0, 0, 0);
    font-weight: 500;
}

.full-width {
    width: 100%;
    font-weight: 500 !important;
    font-size: 16px !important;
    font-family: "Montserrat" !important;
}

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: #9e8656 !important;
}

::ng-deep.mat-select-arrow {
    color: #9e8656 !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #9e8656;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #9e8656;
}

::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: #9e8656;
}

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #9e8656;
}

.save-button {
    width: 100%;
    height: 50px;
    font-size: 16px;
    background: #988149;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
}

.cancel-button {
    width: 100%;
    height: 50px;
    font-size: 16px;
    border-radius: 10px;
    background: #a4a4a4;
    font-family: "Montserrat", sans-serif;
}

.onboarding-button {
    min-width: 126px;
    height: 50px;
    font-size: 16px;
    background: #fb8773;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
}

::ng-deep .mat-dialog-container {
    padding: 20px 70px !important;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 760px) {
    .add_user_informative {
        margin: 0 10px 0 0 !important;
    }
     ::ng-deep .mobile_images {
        margin: 25px !important;
        padding: 0 !important;
    }
    .onboarding-button {
        height: 45px;
        font-size: 12px;
    }
    .page_induvidul_title {
        padding-left: 0 !important;
    }
}